html, body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    background-color: #f6f6f2;
    min-height: 100vh;
}
body {
    font-family: 'Rubik', sans-serif;
    line-height: 1.4; 
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Rubik', sans-serif;
    line-height: 1.2; 
}
p {
    font-family: 'Rubik', sans-serif;
    line-height: 1.1;
}
main {
    flex: 1;
}
.page-heading {
    text-align: center; 
    margin-bottom: 1em; 
}
.main-container {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    margin-top: 0.3em;
    gap: 1em;
    flex-wrap: wrap; /* Ensure items wrap on smaller screens */
}
.info-section {
    flex: 1; 
    padding-left: 1em; 
    line-height: 1.6; 
    text-align: justify; 
}
.info-section p {
    margin: 0; 
    font-size: 1.07em; 
    line-height: 1.6; 
    text-align: justify;
}
.upload-section {
    flex: 1;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 0.8em;
}
.image-section {
    margin-top: 0.1em;
    gap: 5em; 
}
.upload-label {
    border: 2px solid #ffffff !important; 
    color: #ffffff; 
    font-size: 1em;
    font-weight: bold;
    background-color: #000000; 
    padding: 10px 10px; 
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    border-radius: 4px; 
}
.upload-label:hover {
    background-color: #000000; 
    color: #fff; 
    border-color: #1B1212; 
}
.btn-predict {
    border: 2px solid #ffffff; 
    color: #ffffff; 
    font-size: 1em;
    font-weight: bold;
    background-color: #000000; 
    padding: 10px 20px; 
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    border-radius: 4px; 
}
.btn-predict:hover {
    background-color: #000000; 
    color: #fff; 
    border-color: #1B1212; 
}
.result-text {
    margin-top: 0.1em; 
    margin-bottom: 0.2em; 
    font-size: 1.1em; 
    text-align: center;
    color: #333;
}
.btn-source-code {
    border: 2px solid #ffffff; 
    color: #ffffff; 
    font-size: 1em;
    font-weight: bold;
    background-color: #000000; 
    padding: 10px 20px; 
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
.btn-source-code:hover {
    background-color: #000000; 
    color: #fff; 
    border-color: #1B1212; 
}
.footer {
    background: #000000; 
    padding: 0.5em 0; /* Adjust the padding for equal spacing above and below */
    border-top: 1px solid #444; 
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.3); 
    text-align: left; /* Align text to the left */
    position: relative; 
}
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Align items vertically center */
    padding: 0 1em; /* Add padding to the sides if needed */
}
.footer .footer-text {
    flex: 1; 
    margin: 0;
}
.footer .text-muted {
    color: #ffffff !important; 
    font-size: 0.7em;
    font-weight: bold; 
    font-family: 'Rubik', sans-serif; 
    margin: 0; 
}
.footer .footer-links {
    display: flex;
    align-items: center;
}
.footer .social-icon {
    color: #ffffff; 
    font-size: 1em; 
    margin: 0 3px; 
    text-decoration: none; 
    border: 1px solid #ffffff; 
    border-radius: 3px;
    padding: 7px; 
    display: inline-flex; 
    align-items: center;
    justify-content: center;
}
.footer .social-icon:hover {
    color: #d1d1d1;
}
.img-preview {
    width: 230px;
    height: 230px;
    position: relative;
    border: 4px solid #000000;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    margin-top: 0.1em;
    margin-bottom: 0.1em;    
}
.img-preview > div {
    width: 100%;
    height: 100%;
    background-size: 256px 256px;
    background-repeat: no-repeat;
    background-position: center;
}
input[type="file"] {
    display: none;
}
.loader {
    border: 4px solid #f3f3f3; 
    border-top: 4px solid #3498db; 
    border-radius: 50%;
    width: 10px;
    height: 10px;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Mobile view adjustments */
@media (max-width: 768px) {
    .main-container {
        flex-direction: column;
        gap: 1em; /* Space between the stacked elements */
    }
    .info-section, .upload-section {
        width: 100%; /* Ensure full width for mobile view */
        padding: 0;
    }
    .upload-section {
        margin-top: 1em;
    }
}


