{% extends "base.html" %}
{% block content %}

<h2 class="page-heading">Welcome to Melanoma Skin Cancer Detection Application</h2>

<div class="main-container">
    <div class="info-section">
        <p>This application utilizes the ResNet50 model, a deep learning framework, to deliver precise and reliable melanoma skin cancer detection. 
            By leveraging the latest AI technology, it ensures you receive accurate results that aid in effective health management.</p>
        <p>Take the first step towards early cancer detection and empower yourself with proactive care.</p>

        <p>To use the application,</p>
        <ol style="font-size: 1.1em; line-height: 1.5;">
            <li>Click on the <b>"Upload Skin Lesion"</b> button to upload an image of the skin lesion.</li>
            <li>After the image is uploaded, click on the <b>"Predict"</b> button to determine the likelihood of melanoma skin cancer.</li>
        </ol>    
    </div>
    <div class="upload-section">
        <form id="upload-file" method="post" enctype="multipart/form-data">
            <label for="imageUpload" class="upload-label">
                Upload Skin Lesion
            </label>
            <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg">
            <button type="button" class="btn btn-predict" id="btn-predict">Predict !</button>
        </form>
        <div id="message" style="color: red; font-weight: bold; margin-top: 10px;"></div>
        <div class="image-section" style="display:none;">
            <div class="img-preview">
                <div id="imagePreview">
                </div>
            </div>
        </div>
        <!-- Result Section Moved Here -->
        <h3 id="result" class="result-text">
            <span> </span>
        </h3>
        <div class="loader" style="display:none;"></div>
    </div>
    <div class="loader-bouncing-dots">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
    </div>   
{% endblock %}




